In [46]:
threshold = len(df) * 0.7

df = df.dropna(thresh=threshold, axis=1)
print(df.shape)
df

(307159, 25)

,FEBRE,MIALGIA,CEFALEIA,EXANTEMA,VOMITO,NAUSEA,DOR_COSTAS,CONJUNTVIT,ARTRITE,ARTRALGIA,...,HEMATOLOG,HEPATOPAT,RENAL,HIPERTENSA,ACIDO_PEPT,AUTO_IMUNE,CS_SEXO,SG_UF,ID_MN_RESI,CLASSI_FIN
2,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,0.0,29.0,293250,1.0
5,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,0.0,29.0,290460,1.0
9,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,29.0,291810,1.0
10,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,0.0,29.0,290560,1.0
12,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,0.0,29.0,291810,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615862,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,29.0,290520,1.0
615865,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,29.0,291300,0.0
615866,1.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,0.0,29.0,293330,0.0
615869,1.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,29.0,291640,1.0
615873,1.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,0.0,29.0,292550,1.0

In [47]:
df = df.dropna()
df.shape

(307159, 25)

In [48]:
df.to_csv("../dengue_pre_processed.csv",index=False)